
.title{
    text-align: center;
    color: blue;
}

.linkContainer{
    text-align: center;
}

.logInContainer{
    background-color: blue;
    text-align: center;
    width: 12em;
    border: black;
    border-style: solid;
    border-width: 3px;
    display:inline-block
}

.logInContainer:hover{
    background-color: cyan;
}

.academicCalendarContainer{
    background-color: blue;
    text-align: center;
    width: 12em;
    border: black;
    border-style: solid;
    border-width: 3px;
    display:inline-block
}

.academicCalendarContainer:hover{
    background-color: cyan;
}

.catalogContainer{
    background-color: blue;
    text-align: center;
    width: 12em;
    border: black;
    border-style: solid;
    border-width: 3px;
    display:inline-block
}

.catalogContainer:hover{
    background-color: cyan;
}

.masterScheduleContainer{
    background-color: blue;
    text-align: center;
    width: 12em;
    border: black;
    border-style: solid;
    border-width: 3px;
    display:inline-block
}

.masterScheduleContainer:hover{
    background-color: cyan;
}

.center{
    text-align: center;
}