h1{
    color: blue;
    text-align: center;
}

.linkContainer{
    text-align: center;
}

.buttonContainer{
    background-color: blue;
    text-align: center;
    width: 12em;
    border: black;
    border-style: solid;
    border-width: 3px;
    display:inline-block;
    margin-bottom: 30px;
}

.buttonContainer:hover{
    background-color: cyan;
}