h1{
    color: blue;
    text-align: center;
}

.linkContainer{
    text-align: center;
}

.logOutContainer{
    background-color: blue;
    text-align: center;
    width: 12em;
    border: black;
    border-style: solid;
    border-width: 3px;
    display:inline-block;
}

.logOutContainer:hover{
    background-color: cyan;
}

.addClassContainer{
    background-color: blue;
    text-align: center;
    width: 12em;
    border: black;
    border-style: solid;
    border-width: 3px;
    display:inline-block;
}

.addClassContainer:hover{
    background-color: cyan;
}

.dropClassContainer{
    background-color: blue;
    text-align: center;
    width: 12em;
    border: black;
    border-style: solid;
    border-width: 3px;
    display:inline-block;
}

.dropClassContainer:hover{
    background-color: cyan;
}

.transcriptContainer{
    background-color: blue;
    text-align: center;
    width: 12em;
    border: black;
    border-style: solid;
    border-width: 3px;
    display:inline-block;
}

.transcriptContainer:hover{
    background-color: cyan;
}

.masterScheduleContainer{
    background-color: blue;
    text-align: center;
    width: 12em;
    border: black;
    border-style: solid;
    border-width: 3px;
    display:inline-block;
}

.masterScheduleContainer:hover{
    background-color: cyan;
}

.degreeAuditContainer{
    background-color: blue;
    text-align: center;
    width: 12em;
    border: black;
    border-style: solid;
    border-width: 3px;
    display:inline-block;
}

.degreeAuditContainer:hover{
    background-color: cyan;
}